/* Dashboard.css */

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }
  
.dashboard-card {
    width: 300px;
    background-color: #f8f9fa;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
  }
  
.chart-container {
    width: 100%;
    height: 130px;
  }
  
.legend {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.legend-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.legend-item {
    display: flex;
    align-items: center;
  }
  
.legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
  }
  
.color-clarte {
    background-color: #FF5757;
  }
  
.color-difficulte {
    background-color: #333333;
  }
  
.color-reactivite {
    background-color: #FFBD59;
  }
  
.color-ressenti {
    background-color: #FFDE59;
  }
  
.loading-text {
    text-align: center;
    font-size: 18px;
  }