
/* Form.css */
.login-container {
  max-width: 35%;
}

.login-logo {
  max-width:20rem;
  margin-bottom: 5rem;
}

/*gestion des coulkeurs personnalisées*/ 

.bg-primary {
  background-color: #ffbd59!important;
}
.bg-secondary  {
  background-color: #ff5757!important;
}
button.btn-connexion:hover {
  background-color: #fefefe!important;
  color:  #ff5757;
}

.create-account {
  font-size: 12px;
  color: #ff5757;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 576px) { /* Pour les écrans XS */
  .login-container {
    min-width: 85%;
  }
  .login-logo {
    max-width:15rem;
    margin-bottom: 5rem;
  }
}