
/* Form.css */

.mt-10 {
  margin-top: 10rem;
}

.login-container {
  max-width: 50%;
  
}

.login-logo {
  max-width:20rem;
  margin-bottom: 5rem;
}
.input-group-text { 
  border-color:var(--bs-light);
}


.input-group { 
  margin: auto;
}

.form-control {
  border: none;
}
button.btn{
  font-family: "Mochiy Pop";
  font-weight:500;
}

button.btn:hover {
  background-color: #fefefe!important;
  color:  #ff5757;
}

.create-account {
  font-size: 12px;
  color: #ff5757;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 800px) { /* Pour les écrans XS */
  .login-container {
    min-width: 65%;
  }
  .login-logo {
    max-width:18rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 576px) { /* Pour les écrans XS */
  .login-container {
    min-width: 85%;
  }
  .login-logo {
    max-width:15rem;
    margin-bottom: 5rem;
  }
}