@font-face {
    font-family: 'Mochiy Pop One'; 
    src: url('../assets/fonts/mochiy-pop-one-v11-latin-regular.woff2') format('woff2'); 
  }

.App {
    display: flex;
    justify-content: center;
    height: 15vh; 
    margin-top: 25px;
  }
  
.logo {
    width: 250px; 
  }
  

body {
    background-color: #f8f9fa; 
  }
  
  h3 {
    font-family: 'Mochiy Pop One', sans-serif;  
    font-size: 24px;
  }