  .header-logo{
    width: 20rem;
  }

/*couleurs personnalisées*/ 
  
  ul.navbar-nav {
    border-radius: 1rem;
    margin-top:-4rem;
    background-color : #FFBD59; 
    width: 11rem;
  }


  .navbar-nav li{
    padding-left: 1rem;
  }

  li.nav-item:hover {
    background-color: #FF5757;
    border-radius: 1rem;
  }


  /*menu cours*/

  ul.dropdown-menu {
    background-color: #FFBD59;
    max-height: 250px; 
  }

  .dropdown-menu a:hover{
    background-color: #FF5757;
  }


  @media screen and (max-width: 470px) {
    .header-logo {
     width: 12rem;
    }   
    ul.navbar-nav {
      margin-top:0!important;
      }
      

  }

  @media screen and (max-width: 370px) { 
    .header-logo {
    width: 8rem;
   }
    ul.navbar-nav {
      margin-top:1rem!important;
    }
  }