.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

img.avatar {
    max-width: 8rem;
}
h1 {
    font-family: 'Mochiy Pop';
}

/*onglets cours*/

h2{
    border-radius: 3rem;
    background-color: #ffde59;
    padding-left:4rem;
    padding-right:4rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    font-weight: bold!important;
    font-size:1rem!important;
}

li.courses-list-item { 
border-radius: 3rem;
list-style: none;
background-color: #ff5757;
margin-bottom:2rem;
padding-left:5rem;
padding-right:5rem;
padding-top:.25rem;
padding-bottom:.25rem;
font-weight: bold!important;
font-size:16px!important;
cursor: pointer;
}

ul.courses-list {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}